#database file
*.db
*.bak

#test file
test*

#directory
/logs/
/__pycache__/
#/app/static/ckeditor
/pictures/*
.env
/venv
/app/__pycache__/
__pycache__
/whoosh_index/
#regular incompatibility across database
/migrations/versions/
/migrations/__pycache__/
