<!DOCTYPE html>
<html lang="zh-CN">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<title>404 - 1956的博客</title>	
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<link rel="stylesheet" type="text/css" href="/static/css/dmaku.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<style>body{background:#fff}div{width:1024px;height:320px;position:absolute;top:40%;left:50%;transform:translate(-50%,-50%)}</style>
</head>
<body>
    </div>
	<div><img src="/static/img/404.svg" alt=""></div>
</body>
<footer>
    <div style="text-align: center; margin-top: 15rem; font-style: italic; color: ">
        <h2>
            <a href="{{ url_for('index') }}">返回首页</a>
        </h2>
</footer>
</html>