{% extends "base.html" %}
{% block content %}
    <!-- Page Header -->
    <header class="masthead contact">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Contact Me</h1>
              <span class="subheading">有什么想说的，请留言~</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row" id="row2">
        {% if msgs %}
        <div class="col-lg-8 col-md-10 mx-auto msgbox">
        {% for msg in msgs.items %}
          <div class="msgboard" id="comment{{ loop.index }}">
          <div class="msgban">
            <span class="user_id" hidden="">{{ msg.id }}</span>
            <a href="#row2">第{{ loop.index }}楼&brvbar;</a>
            {% if msg.user_id == 1 %}
            <span class="role">[站长]&brvbar;</span>
            {% endif %}
            <span class="leave_time">{{ msg.leave_time.isoformat() }}</span>
            {% if msg.user_id %}
            <a href="#">&brvbar;&nbsp;{{ msg.author.username }}</a>
            {% else %}
            <a href="#" class="role">匿名</a>
            {% endif %}
            {% if current_user.id == 1 %}
            <a href="{{url_for('delete_msg', msg_id=msg.id)}}">删除</a>
            {% endif %}
            <br>
          </div>
          <div class="msgcontent">
            <div class="content_div">{{ msg.content|safe }}</div>
          </div>
          </div>
        {% endfor %}  
        </div>
        {% endif %}  
      </div>
      <div class="row">
        <div hidden="">第<span id="page_num">1</span>页
        </div>
      </div>
      <div class="row">
          <div class="col-md-5 col-lg-6 col-6 text-center" id="prev">
            <!--ul class="pager "-->
               {% if msgs.has_prev %}
                 <li class="previous"><a class="" onclick="prev()">上一页</a></li>
                {% else %}
                    <a href=""></a>
                {% endif %}
          </div>
          <div class="col-md-3 col-lg-6 col-6 text-center float-right" id="next">
                {% if msgs.has_next %}
                    <li class="next"><a href="#row2" onclick="next()">下一页</a></li>
                {% else %}
                    <li class="next disabled"><a href="#row2" style="background-color: #e0dede;">没有更多..</a></li>
                {% endif %}
          </div>
      </div>
      <div class="row" id="box">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
          {% include 'flash.html' %}
          <form name="sentMessage" id="contactForm" action="" method="Post">
            {{ form.csrf_token }}
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Name</label>
                {{ form.name(class="form-control",placeholder="名字",id="name") }}
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Email Address</label>
                {{ form.email(type="email", class="form-control", placeholder="邮箱（可选，不会公开）", id="email") }}
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Message</label>
                {{ form.content(rows="5", class="form-control", placeholder="说些什么吧？（200字以内）", id="message") }}
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" onclick="document.getElementById('row2').scrollIntoView();" id="sendMessageButton">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
{% endblock %}
{% block script %}
{{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
{{ ckeditor.config(name='content',custom_config="
            plugins: 'about,basicstyles,clipboard,toolbar,enterkey,entities,floatingspace,wysiwygarea,indentlist,link,list,undo,emoji,font,autogrow,mathjax',
            extraPlugins: 'autogrow',
            autoGrow_minHeight: 200,
            autoGrow_maxHeight: 300,
            autoGrow_bottomSpace: 20,
            codeSnippet_theme: 'monokai_sublime',
            language: 'zh-CN,en,ko',
            mathJaxLib: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML',
") }}
<script src="/static/js/contact_me.min.js"></script>
{% endblock %}
