{% extends "base.html" %}
{% block stylesheet %}
<style>
    .nav-link,
    .navbar-brand {
        color: black !important;
    }
</style>
{{ ckeditor.load_code_theme() }}
{% endblock %}
{% block content %}
<div class="container">

      <div class="blog-header">
        <h1 class="blog-title"></h1>
        <p class="lead blog-description"></p>
      </div>
      <hr>
      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">{{ post.title }}</h2>
            {% if post.temp_store == 1%}
            <span class="sign">未完成</span>
            {% endif %}
            <div class="blog-post-meta">
              <i class="fa fa-clock-o"></i>
              <span class="time">{{ post.time.isoformat() }}</span>
              <i class="fa fa-user-secret"></i>
              <a href="#">{{ post.author.username }}</a>
            </div>
            <div>
              {{ post.content|safe }}
            </div>
          </div><!-- /.blog-post -->
          <hr id="thread1">
          <div class="info">
            <div>
              <li class="fa fa-edit"></li>last-modified:
              {% if post.last_modify %}
              <span class="time last-modify">{{ post.last_modify.isoformat() }}</span>
              {% endif %}
            {% if user.id %}
              <a href="{{ url_for('editpost', post_id=post.id)}}">编辑</a>
            {% endif %}
            </div>
          </div>
          <nav class="blog-nav">
            <ul class="pager">
              <a class="float-left" href="#">Previous</a>
              <a class="float-right" href="#">Next</a>
            </ul>
          </nav>
        <div class="clearfix"></div>
        <div class="msg">
        {% if msgs %}
        <div class="col-lg-8 col-md-10 mx-auto msgbox">
        {% for msg in msgs.items %}
          <div class="msgboard" id="comment{{ loop.index }}">
          <div class="msgban">
            <span class="user_id" hidden="">{{ msg.id }}</span>
            <a href="#row2">第{{ loop.index }}楼&brvbar;</a>
            {% if msg.user_id == 1 %}
            <span class="role">[站长]&brvbar;</span>
            {% endif %}
            <span class="leave_time">{{ msg.leave_time.isoformat() }}</span>
            {% if msg.user_id %}
            <a href="#">&brvbar;&nbsp;{{ msg.author.username }}</a>
            {% else %}
            <a href="#" class="role">匿名</a>
            {% endif %}
            {% if current_user.id == 1 %}
            <a href="{{url_for('delete_msg', msg_id=msg.id)}}">删除</a>
            {% endif %}
            <br>
          </div>
          <div class="msgcontent">
            <div class="content_div">{{ msg.content|safe }}</div>
          </div>
          </div>
        {% endfor %}  
        </div>
        {% else %}
          <div class="msgboard" id="comment1" hidden="">
          <div class="msgban">
            <span class="user_id" hidden="">1</span>
            <a href="#row2">第1楼&brvbar;</a>
            <span class="leave_time">2019-03-20, 12:57:32</span>
            <a href="#">&brvbar;&nbsp;test</a>
            <a href="#" class="role">匿名</a>
            <a href="#">删除</a>
        {% endif %}  
          </div>
          </div>
        </div>
        </div><!-- /.blog-main -->
        

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <em>something...</em>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a class="detail-link" href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">something...</a></li>
              
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div>
{% endblock %}
