{% extends "base.html" %}
{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              {% if theme %}
              <h1>{{ theme }}</h1>
              {% else %}
              <h1>Micro Blog</h1>
              {% endif %}
              {% if subheading %}
              <span class="subheading">{{ subheading }}</span>
              {% else %}
              <span class="subheading">分享一点点技术和感悟</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </header>

    {% if user %}
      <div class="container">
        <div class="row">
          {% if posts %}
            <div class="col-lg-8 col-md-10 mx-auto">
            {% for post in posts.items %}
              <div class="post-preview">
                <a href="{{ url_for('article_detail', username=user.username, post_id=post.id)}}">
                  <h2 class="post-title">
                    {{ post.title }}
                  </h2>
                </a>
                <p class="post-subtitle">
                  &nbsp;&nbsp;&nbsp;&nbsp;{{ post.content|truncate(200, True)|striptags }}
                </p>
                <p class="post-meta">Posted by
                <a href="#">{{ user.username }}</a>
                on {{ moment(post.time).format('YYYY-MM-DD, HH:mm:ss') }}</p>
              </div>
            {% endfor %}
              <hr>
              <!-- Pager -->
              <div class="clearfix">
                {% if posts.has_prev %}
                 <a class="tn btn-primary float-left" href="{{ url_for('index', page=posts.prev_num) }}">&larr; 上一页</a>
                {% else %}
                    <a href=""></a>
                {% endif %}
                {% if posts.has_next %}
                 <a class="tn btn-primary float-right" href="{{ url_for('index', page=posts.next_num) }}">下一页 &rarr;</a>
                {% else %}
                    <a class="float-right" href="">没有更多..</a>
                {% endif %}
              </div>
            </div>
          {% else %}
            <em>等待创作ing</em>
          {% endif %}
        </div>
      </div>
    {% else %}
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Man must explore, and this is exploration at its greatest
              </h2>
              <h3 class="post-subtitle">
                Problems look mighty small from 150 miles up
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on September 24, 2017</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
              </h2>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on September 18, 2017</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Science has not yet mastered prophecy
              </h2>
              <h3 class="post-subtitle">
                We predict too much for the next year and yet far too little for the next ten.
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on August 24, 2017</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Failure is not an option
              </h2>
              <h3 class="post-subtitle">
                Many say exploration is part of our destiny, but it’s actually our duty to future generations.
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on July 8, 2017</p>
          </div>
          <hr>
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
{% endblock %}
    


