{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="static/css/login.css">
<style>
    .nav-link,
    .navbar-brand {
        color: black !important;
    }
</style>
{% endblock %}
{% block content %}
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <form class="form-horizontal" action="/login" method="POST">
                {{ form.hidden_tag() }}
                <span class="heading">用户登录</span>
                <div class="form-group">
                    {{ form.username(class="form-control", id="inputEmial3", placeholder="用户名或邮箱")}}
                    <i class="fa fa-user"></i>
                </div>
                <div class="form-group help">
                    {{ form.password(type="password", class="form-control", id="inputPassword3", placeholder="密 码") }}
                    <i class="fa fa-lock"></i>
                    <a href="#" class="fa fa-question-circle"></a>
                </div>
                <div class="form-group">
                    <div class="main-checkbox">
                        {{ form.remember_me(id="checkbox1", type="checkbox") }}
                        <!--input type="checkbox" value="None" id="checkbox1" name="check"/-->
                        <label for="checkbox1"></label>
                    </div>
                    {% include "flash.html" %}
                    <span class="text">Remember me</span>
                    {{ form.submit(class="btn btn-default") }}
                </div>
            </form>
          </div>
        </div>
      </div>
{% endblock %}