{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="static/css/login.css">
<style>
    .nav-link,
    .navbar-brand {
        color: black !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row move-down">
        <h2>重置密码</h2>
          <form action="" method="POST">
              {{ form.hidden_tag() }}
              <p>
                  {{ form.password.label }}<br>
                  {{ form.password(size=32) }}<br>
                  {% for error in form.password.errors %}
                  <!-- bad css,need changes-->
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </p>
              <p>
                  {{ form.password2.label }}<br>
                  {{ form.password2(size=32) }}<br>
                  {% for error in form.password2.errors %}
                  <!-- bad css,need changes-->
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </p>
              <p>{{ form.submit(class="button") }}</p>
          </form>
    </div>
</div>
{% endblock %}