{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="static/css/login.css">
<style>
    .nav-link,
    .navbar-brand {
        color: black !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row move-down">
        <h2>重置密码</h2>
          <form action="" method="POST">
              {{ form.hidden_tag() }}
              {{ form.csrf_token }}
              <p>
                  <span>邮箱：</span><br>
                  {{ form.email(size=64, placenholder="") }}<br>
                  {% for error in form.email.errors %}
                  <!-- bad css,need changes-->
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
              </p>
              <p>
                {% with errors=get_flashed_messages(category_filter='no_user') %}
                {% for error in errors %}
                <span style="color: red;">{{ error }}!</span>
                {% endfor %}
                {% endwith %}
              </p>
              <p>{{ form.submit(class="button") }}</p>
          </form>
    </div>
</div>
{% endblock %}