{% extends "base.html" %}
{% block stylesheet %}
<style>
    .nav-link,
    .navbar-brand {
        color: black !important;
    }
</style>
{% endblock %}
{% block content %}

<div class="container user">
<header class="user">
    <div class="row"></div>
    <table>
        <tr valign="top"></tr>
            <td><img src="{{ user.avatar(64) }}"></td>
            <td>
            {% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
            {% if user.last_seen %}<p><em>Last seen on: {{user.last_seen}}</em></p>
            {% endif %}
            {% if user.id == current_user.id %}
            <a href="{{url_for('edit')}}">Edit your profile</a>
            {% endif %}
            </td>
    </table>
</header>
<div class="col-md-6">
{% for post in posts.items %}
{% include 'manage.html' %}
{% endfor %}
</div>
<ul class="pager">
   {% if posts.has_prev %}
     <li class="previous"><a href="{{ url_for('index', page = posts.prev_num) }}">Newer posts</a></li>
    {% else %}
        <li class="previous disabled"><a href="#">Newer posts</a></li>
    {% endif %}
    {% if posts.has_next %}
        <li class="next"><a href="{{ url_for('index', page = posts.next_num) }}">Older posts</a></li>
    {% else %}
        <li class="next disabled"><a href="#">Older posts</a></li>
    {% endif %}
</ul>
</div>
{% endblock %}