{% extends "base.html" %}
{% block stylesheet %}
<style>
    .nav-link,
    .navbar-brand {
        color: black !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
<header class="">
    <div class="row move-down">
      <table class="table-condensed table-hover">
        <tr valign="top">
            <td><img src="{{ user.avatar(64) }}"></td>
        </tr>
            <tr>
                <th>个人介绍：</th>
                <td>
                    {% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
                </td>
                <td>
                    <span>{% include "flash.html" %}</span>
                </td>
            </tr>
        <tr>
                <th>上次访问时间：</th>
            <td>
                {% if user.last_seen %}
                    <em>{{ moment(user.last_seen).format('YYYY-MM-DD, HH:mm:ss') }}</em>
                {% endif %}
            </td>
        </tr>    
        <tr>
            <td>
                {% if user.id == current_user.id %}
                <a href="{{url_for('edit_profile')}}">编辑你的资料</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ url_for('write') }}">写文章</a>
            </td>
        </tr>
        {% if user.id == 1 %}
        <tr>
            <td>
                <a href="{{ url_for('control') }}">后台管理</a>
            </td>
        </tr>
        {% endif %}
      </table>
    </div>
</header>
    <div class="row move-down">
      <div class="col-xs-3 col-md-12 col-lg-12 text-center">
          当前页码：{{ page }}
      </div>
      <div class="clearfix visible-xs-block"></div>
      <div class="col-lg-8 col-md-12 mx-auto">
        {% for post in posts.items %}
        {% include 'manage.html' %}
        {% endfor %}
      </div>
      <div class="clearfix visible-xs-block"></div>
    </div>
    <div class="row move-down">
          <div class="col-sm-3 col-md-5 col-lg-6 col-lg-offset-1 text-center">
            <!--ul class="pager "-->
               {% if posts.has_prev %}
                 <li class="previous"><a class="" href="{{ url_for('user',username=current_user.username, page=posts.prev_num) }}">上一页</a></li>
                {% else %}
                    <a href=""></a>
                {% endif %}
          </div>
          <div class="col-sm-3 col-md-3 col-lg-6 col-md-offset-3 text-center">
                {% if posts.has_next %}
                    <li class="next"><a href="{{ url_for('user',username=current_user.username, page=posts.next_num) }}">下一页</a></li>
                {% else %}
                    <li class="next disabled"><a href="#" style="background-color: #e0dede;">没有更多..</a></li>
                {% endif %}
          </div>
    </div>
</div>
{% endblock %}