{% extends "base.html" %}
{% block stylesheet %}
<style>
    .nav-link,
    .navbar-brand {
        color: black !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
<header class="">
    <div class="row user">
      <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(64) }}"></td>
        </tr>
            <tr>
                <td>
                    {% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
                </td>
                <td>
                    <span>{% include "flash.html" %}</span>
                </td>
            </tr>
        <tr>
            <td>
            {% if user.last_seen %}<p><em>Last seen on: {{(user.last_seen+timedelta).strftime('%Y-%m-%d %H:%M:%S') }}</em></p>
            {% endif %}
            {% if user.id == current_user.id %}
            <a href="{{url_for('edit_profile')}}">Edit your profile</a>
            {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ url_for('write') }}">写文章</a>
            </td>
        </tr>
      </table>
    </div>
</header>
    <div class="row user">
      <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title">
                Man must explore, and this is exploration at its greatest
              </h2>
              <h3 class="post-subtitle">
                Problems look mighty small from 150 miles up
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              on September 24, 2017</p>
            </div>
            <div>
                {% for post in posts.items %}
                {% include 'manage.html' %}
                {% endfor %}
            </div>
        </div>
      <div class="row user">
        <ul class="pager col-lg-8 col-md-10 mx-auto">
           {% if posts.has_prev %}
             <li class="previous"><a href="{{ url_for('index', page = posts.prev_num) }}">Newer posts</a></li>
            {% else %}
                <li class="previous disabled"><a href="#">Newer posts</a></li>
            {% endif %}
            {% if posts.has_next %}
                <li class="next"><a href="{{ url_for('index', page = posts.next_num) }}">Older posts</a></li>
            {% else %}
                <li class="next disabled"><a href="#">Older posts</a></li>
            {% endif %}
        </ul>
      </div>
    </div>
</div>
{% endblock %}