{% extends "base.html" %}
{% block stylesheet %}
<style>
    .nav-link,
    .navbar-brand {
        color: black !important;
    }
</style>
<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}
{% block content %}
<div class="container move-down">
	<form  class="form-horizontal" action="" method="POST">
		{{ form.hidden_tag() }}
		{{ form.csrf_token }}
		<div class="control-group">
	    <label for="title" class="control-label">Title:</label>
			<div class="controls">
				{{ form.title(maxlength=64, class="span5") }}
			</div>
		</div>
		<div class="control-group">
	   	 <label for="content" class="control-label">Content:</label>
			<div class="controls">
				{{ form.content(id='editor1', cols=80, rows=9, class="span5") }}
			</div>
		</div>
		<div class="control-group">
		<div class="controls">
		<input class="btn btn-primary" type="submit" value="提交">
		</div>
		</div>
	</form>
</div>
{% endblock %}
{% block script %}
{{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
{{ ckeditor.config(name='content',custom_config="
            extraPlugins: 'autogrow,codesnippet,uploadimage,filebrowser',
            autoGrow_minHeight: 200,
            autoGrow_maxHeight: 800,
            autoGrow_bottomSpace: 30,
            codeSnippet_theme: 'monokai_sublime',
            removePlugins: 'resize,emoji',
            language: 'zh-CN,en,ko',
            mathJaxLib: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML',
") }}
{% endblock %}

